/* fonts */
.videogame-text{
    font-family: 'Press Start 2P', cursive;
}

.heading-text{
    font-family: 'Sansita', sans-serif;
}
.regular-text{
    font-family: 'Kameron', serif;
}
/*  */

/* Jumbotron */
#NarrowPathJumbotron{
    background-image: url(/NarrowPathProduction/images/Microphone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: -webkit-fill-available;
    opacity: .9;
}
/* #JumbotronTextBackground{
    background: rgba(114, 114, 114, 0.5);
} */
#Jumbotron-Header{
    text-align: center;
    color: rgb(255, 255, 255);
}

.lead{
    text-align: center;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
}
/*  */

#MeetTheTeamHeaderRow{
    justify-content: center;
    background-color: gold;
}
#MeetTheTeamHeader{
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 40px;
}
#MeetTheTeamText{
    margin: auto;
    background-color: gold;
}
#LeftCard{
margin-bottom: 40px;
}
#RightCard{
margin-bottom: 40px;
}