/* fonts */
.videogame-text{
    font-family: 'Press Start 2P', cursive;
}

.heading-text{
    font-family: 'Sansita', sans-serif;
}
.regular-text{
    font-family: 'Kameron', serif;
}
/*  */

/* Jumbotron */
#NarrowPathJumbotron{
    background-color: #ffffff;
}
#Jumbotron-Header{
    text-align: center;
}

.lead{
    text-align: center;
    font-size: 1.75rem;
}
/*  */

#MeetTheTeamHeaderRow{
    justify-content: center;
    background-color: gold;
}
#MeetTheTeamHeader{
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 40px;
}
#MeetTheTeamText{
    margin: auto;
    background-color: gold;
}
#LeftCard{
margin-bottom: 40px;
}
#RightCard{
margin-bottom: 40px;
}